* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Heebo', sans-serif;
}

.container {
  max-width: 1200px;
}

.bg-primary {
  background-color: #ffffff;
}

.bg-secondary {
  background-color: #edf7fa;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.dark-color {
  color: #21243d;
}

.text-title {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.5;
}

.text-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.mb-40 {
  margin-bottom: 40px;
}

.section-profile-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.w-50 {
  width: 50%;
}

.box-img-profile {
  height: 243;
  width: 243;
  margin-left: auto;
  margin-right: auto;
}

.section-contact-education {
  display: flex;
  flex-direction: row;
}

.box-contact {
  width: 50%;
}

.box-education {
  width: 50%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.box-contact > ul > li {
  margin-bottom: 10px;
}

.green-color {
  color: #136223;
}

.text-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.education-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.education-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.gray-color {
  color: #52575c;
}

.education-detail {
  margin-bottom: 16px;
}
